.answer-view {
  width: 90%;
  margin: auto;
}
table {
  width: 100%;
}
th,
td {
  white-space: nowrap;

  padding: 1rem !important;
  text-align: center;
}
.parent-table {
  width: 100%;
  margin: auto;
  overflow: auto;
}
.mat-form-field {
  font-size: 14px;
  width: 50%;
  display: block;
  margin: auto;
  text-align: center;
}
::ng-deep .mat-focused .mat-form-field-label {
  color: #8417a5 !important;
}

::ng-deep.mat-form-field-underline {
  color: #8417a5 !important;
}

::ng-deep.mat-form-field-ripple {
  color: #8417a5 !important;
}
